/* ----------------------- Google Fonts ------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
/* ----------------------- Variables ------------------------ */
/* --------------------- Font and Typography ---------------------- */
/* --------------------- Z-Index ---------------------- */
/* --------------------- Base ---------------------- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.938rem;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* --------------------- Header ---------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
  color: #0e1026;
}

.header-toggle {
  font-size: 1.7rem;
  cursor: pointer;
}

/* --------------------- Header ---------------------- */
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #5b65f5;
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow-y: auto;
  }
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.nav-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.nav-img img {
  width: 70px;
}

.nav-name {
  display: block;
  font-size: 1.5rem;
  color: #fbfbfb;
}

.nav-item {
  margin-bottom: 1rem;
}

.nav-link {
  color: #c4c7f5;
}

.nav-link:hover {
  color: #fbfbfb;
}

/* ----------------------- Show Menu ------------------------ */
.show {
  left: 0;
}

/* ----------------------- Active Link ------------------------ */
.active {
  color: #fbfbfb;
}

/* ----------------------- Media Queries ------------------------ */
@media screen and (min-width: 576px) {
  .nav {
    width: 288px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc($header-height + 1rem);
  }
  .header-logo,
  .header-toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-perfil {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: initial;
    margin-bottom: 0;
  }
  .nav-img {
    width: 40px;
    height: 40px;
    margin-right: 0.5em;
    margin-bottom: 0;
  }
  .nav-img img {
    width: 46px;
  }
  .nav-name {
    color: #0e1026;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-item {
    margin: 0 1.5rem;
  }
  .nav-link {
    color: #0e1026;
  }
  .nav-link:hover {
    color: #5b65f5;
  }
  .active {
    color: #5b65f5;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .nav-item a {
    font-size: 0.8rem;
  }
  .nav-content span {
    margin-left: 0.5em;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */